<a href="https://colab.research.google.com/github/HSYhrae/TIL/blob/master/%EA%B5%AC%EA%B8%80%EB%A7%B5%EC%82%AC%EC%9A%A9(%EC%95%84%EB%9E%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
unique_loc_down = pd.read_csv('/content/drive/MyDrive/data/3team_project/전월세가/서울특별시_전월세가_아랫부분.csv')
unique_loc_down

,Year,Month,Region_Code,Region_Name,KA_Code,KA_Name,LNA_Code,LNA_Name,Main_num,Sub_num,...,Population,IR,UR,LC_index,CA_index,TC_index,SDT_index,HSP_index,위도,경도
0,2012,7,11710,송파구,10800,문정동,1,대지,112,11,...,669058.0,3.00,3.1,74.5,81.5,78.5,102.461258,74.2,37,126
1,2012,3,11200,성동구,11500,성수동2가,1,대지,320,6,...,295034.0,3.25,3.7,73.9,80.5,77.9,NaN,77.1,37,126
2,2012,2,11320,도봉구,10800,도봉동,1,대지,598,23,...,359554.0,3.25,4.2,73.6,80.4,77.8,NaN,77.7,37,126
3,2012,1,11500,강서구,10100,염창동,1,대지,278,8,...,561431.0,3.25,3.5,73.1,79.9,77.7,NaN,78.0,37,126
4,2012,1,11710,송파구,10800,문정동,1,대지,49,9,...,669058.0,3.25,3.5,73.1,79.9,77.7,NaN,78.0,37,126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2022,12,11215,광진구,10100,중곡동,1,대지,18,65,...,335712.0,3.25,3.0,109.5,108.4,112.4,NaN,141.8,37,126
49996,2022,12,11305,강북구,10100,미아동,1,대지,258,598,...,293601.0,3.25,3.0,109.5,108.4,112.4,NaN,141.8,37,126
49997,2022,12,11545,금천구,10300,시흥동,1,대지,953,7,...,228373.0,3.25,3.0,109.5,108.4,112.4,NaN,141.8,37,126
49998,2022,12,11440,마포구,12400,연남동,1,대지,364,19,...,362719.0,3.25,3.0,109.5,108.4,112.4,NaN,141.8,37,126
49999,2022,12,11710,송파구,11300,거여동,1,대지,178,47,...,652993.0,3.25,3.0,109.5,108.4,112.4,NaN,141.8,37,126

In [ ]:
!pip install googlemaps

Collecting googlemaps
  Downloading googlemaps-4.10.0.tar.gz (33 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.10/dist-packages (from googlemaps) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2023.7.22)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.10.0-py3-none-any.whl size=40713 sha256=7e072e7370dcd1f526228da0f96eeaa4d869907689e2a428b22a81de63a4e280
  Stored in directory: /root/.cache/pip/wheels/17/f8/79/999d5d37118fd35d7219ef57933eb9d09886c4c4503a800f84
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.10.0

In [ ]:
import googlemaps
from datetime import datetime

apikey = 'AIzaSyABh7Z1cDdpLu_bAU1hiyluk5RUoQBVAfg'

def getLoc(addr):
    gmaps = googlemaps.Client(key='AIzaSyABh7Z1cDdpLu_bAU1hiyluk5RUoQBVAfg')
    geocode_result = gmaps.geocode(addr)
    n_lat = geocode_result[0]['geometry']['location']['lat']
    n_lng = geocode_result[0]['geometry']['location']['lng']
    loc = {'lat':n_lat, 'lng':n_lng}
    return loc

# 함수 설정을 통해 구글 지오코드 서비스로 위도 경도에 대한 데이터 가져온 후
# 실거래가 데이터 프레임의 "주소" 컬럼의 주소 값들을 기반으로 위도, 경도 위치 데이터 받은 후
# "위도", "경도"에 컬럼값 위치 데이터 넣기

In [ ]:
for i in unique_loc_down.index:
    find = unique_loc_down.loc[i, "address"]
    sub_lat = getLoc(find)['lat']
    sub_long = getLoc(find)['lng']
    unique_loc_down.loc[i, '위도'] = sub_lat
    unique_loc_down.loc[i, '경도'] = sub_long

unique_loc_down.head

<bound method NDFrame.head of        Year  Month  Region_Code Region_Name  KA_Code KA_Name  LNA_Code  \
0      2012      7        11710         송파구    10800     문정동         1
1      2012      3        11200         성동구    11500   성수동2가         1
2      2012      2        11320         도봉구    10800     도봉동         1
3      2012      1        11500         강서구    10100     염창동         1
4      2012      1        11710         송파구    10800     문정동         1
...     ...    ...          ...         ...      ...     ...       ...
49995  2022     12        11215         광진구    10100     중곡동         1
49996  2022     12        11305         강북구    10100     미아동         1
49997  2022     12        11545         금천구    10300     시흥동         1
49998  2022     12        11440         마포구    12400     연남동         1
49999  2022     12        11710         송파구    11300     거여동         1

      LNA_Name  Main_num  Sub_num  ...  Population    IR   UR  LC_index  \
0           대지       112       11  ...    669058.0  3.00  3.1      74.5
1           대지       320        6  ...    295034.0  3.25  3.7      73.9
2           대지       598       23  ...    359554.0  3.25  4.2      73.6
3           대지       278        8  ...    561431.0  3.25  3.5      73.1
4           대지        49        9  ...    669058.0  3.25  3.5      73.1
...        ...       ...      ...  ...         ...   ...  ...       ...
49995       대지        18       65  ...    335712.0  3.25  3.0     109.5
49996       대지       258      598  ...    293601.0  3.25  3.0     109.5
49997       대지       953        7  ...    228373.0  3.25  3.0     109.5
49998       대지       364       19  ...    362719.0  3.25  3.0     109.5
49999       대지       178       47  ...    652993.0  3.25  3.0     109.5

       CA_index  TC_index   SDT_index HSP_index         위도          경도
0          81.5      78.5  102.461258      74.2  37.485920  127.132775
1          80.5      77.9         NaN      77.1  37.541618  127.055522
2          80.4      77.8         NaN      77.7  37.677282  127.042543
3          79.9      77.7         NaN      78.0  37.552732  126.870748
4          79.9      77.7         NaN      78.0  37.487069  127.124090
...         ...       ...         ...       ...        ...         ...
49995     108.4     112.4         NaN     141.8  37.566657  127.086870
49996     108.4     112.4         NaN     141.8  37.627412  127.030717
49997     108.4     112.4         NaN     141.8  37.442290  126.905779
49998     108.4     112.4         NaN     141.8  37.565525  126.917845
49999     108.4     112.4         NaN     141.8  37.495024  127.144055

[50000 rows x 29 columns]>

In [ ]:
unique_loc_down.to_csv('/content/drive/MyDrive/data/3team_project/전월세가/서울특별시_전월세가_아랫부분(완성).csv', encoding='utf-8', index=False)